
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title- Nguyễn Văn Tây - PhoneShop</title>
   
    @RenderSection("css", required: false)
  
</head>
<body>
    <div class="container-top">
        <header>
            <div class="header-top">
                <a href="">
                    <img src="~/Content/desktop/images/logo.png" alt="Logo" />
                </a>
            </div>
            <div class="header-main">
                <ul class="Menu">
                    <li> <a href="">Home</a></li>
                    <li> <a href="">Contact</a></li>
                    <li> <a href="">About</a></li>
                </ul>
            </div>
        </header>
    </div>
    
    <div class="container body-content">
        @RenderBody()
    </div>
    @Html.Partial("~/Views/HomeShop/DemoPartialviewfooter.cshtml")
    @RenderSection("scripts", required: false)
</body>
</html>


